.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 20px;
    }

}

.containerRadio {

    & div {
        margin-bottom: 10px;
    }

    &__label {
        margin-left: 10px;
    }
}