.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;

    &__title {
        margin-bottom: 20px;
    }
}

.divProgressbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &__progressBar {
        height: 10px;
        width: 50px;
        margin-right: 10px;
    }
}

.containerRadio {

    & div {
        margin-bottom: 10px;
    }

    &__label {
        margin-left: 10px;
    }
}